<window id="0">
	<defaultcontrol>6</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<controls>
	
		<control>
			<description>background image</description>
			<type>image</type>				
			<posx>-4</posx>
			<posy>0</posy>
			<width>1284</width>
			<height>720</height>
			<texture>background.png</texture>
			<visible>true</visible>			
		</control>
		
		<control>
			<description>header image</description>
			<type>image</type>				
			<posx>-5</posx>
			<posy>-20</posy>
			<width>1288</width>
			<height>155</height>
			<texture>header_settings.png</texture>
			<visible>true</visible>			
		</control>		
		
		<control>
			<description>Title</description>
			<type>label</type>			
			<width>255</width>
			<posx>100</posx>
			<posy>50</posy>
			<label>Settings</label>
			<font>special13</font>
			<visible>true</visible>
		</control>				
		
		<control>
			<description>Appearance Settings</description>
			<type>button</type>
			<id>6</id>
			<posx>980</posx>
			<posy>450</posy>
			<width>128</width>
			<height>128</height>
			<label>Appearance</label>
			<font>special13</font>
			<onclick>XBMC.ActivateWindow(AppearanceSettings)</onclick>
			<onleft>9</onleft>
			<onright>9</onright>
			<onup>5</onup>
			<ondown>7</ondown>
			<texturefocus>settings-appearance-focus.png</texturefocus>
			<texturenofocus>settings-appearance-nofocus.png</texturenofocus>
			<textoffsetx>0</textoffsetx>
			<textoffsety>132</textoffsety>
			<visible>true</visible>					
		</control>			
		
	    <control>
			<description>video preview window</description>
			<type>videowindow</type>
			<id>0</id>
			<posx>50</posx>
			<posy>430</posy>
			<width>228</width>
			<height>220</height>
			<visible>true</visible>
		</control>	
					
	</controls>
</window>