<settings>
    <general>
        <systemtotaluptime>857</systemtotaluptime>
    </general>
    <LookAndFeel>
        <Language>English</Language>
        <Skin>Project Mayhem III</Skin>
    </LookAndFeel>
    <ScreenSaver>
        <Mode>Dim</Mode>
        <Time>13</Time>
    </ScreenSaver>
    <lookandfeel>
        <skinzoom>0</skinzoom>
    </lookandfeel>
    <videoscreen>
        <resolution>10</resolution>
    </videoscreen>
</settings>
